<div class="row">
    <div class="col-md-9"
         ng-class=" { highlight:editable } "
         contenteditable={{editable}}
         ng-transclude>
    </div>
    <div class="col-md-3">
        <button
                ng-show="!editable"
                ng-click="editable=true"
                type="submit"
                id="btn-sign-edit"
                class="btn btn-primary">Edit</button>
        <button
                ng-show="editable"
                ng-click="editable=false"
                type="submit"
                id="btn-sign-save"
                class="btn btn-primary">Save</button>
    </div>
</div>